@charset "utf-8";

/* CSS Document */

/* basic css*/

 td {font-family: "돋움"; font-size: 9pt; line-height:17px; color:#333333; text-decoration: none;}
 A:link {color:#333333; text-decoration:none;} 
 A:visited {color:#333333; text-decoration:none} 
 A:hover {color:#333333; text-decoration:underline;} 

 /* top_menu*/

.topnav:{color:#333333;text-decoration:none;font-size:12px;}
 topnav.A:link {color:#333333; text-decoration:none;} 
 topnav.A:visited {color:#333333; text-decoration:none; font-weight: bold;} 
 topnav.A:hover {color:#333333; text-decoration:underline;} 


/* sub_menu*/
.submenu {background-image:url("../images/leftmenu/leftmenu_bg.png"); width:190px;  height:26px; color:#333333; font-family:돋움, Arial, Helvetica, sans-serif; text-decoration:none; padding:0px 0px 0px 10px;}
.submenu A:link {color:#333333; text-decoration:none} 


.submenuon{background-image:url("../images/leftmenu/leftmenu_bg_on.png"); width:190px;  height:26px; color:#ffffff; font-family:돋움, Arial, Helvetica, sans-serif;text-decoration:none; padding:0px 0px 0px 10px;}
.submenuon A:link {color:#ffffff; text-decoration:none} 
.submenuon A:visited {color:#ffffff; text-decoration:none} 
.submenuon A:hover{color:#ffffff; text-decoration:none} 


 
.submenudd {background-image:url("../images/leftmenu/leftmenu_bg_sub.png"); width:190px;  height:26px; color:#333333; font-family:돋움, Arial, Helvetica, sans-serif; padding:0px 0px 0px 10px;}
.submenudd A:link {color:#333333; text-decoration:none} 
.submenudd A:visited {color:#333333; text-decoration:none} 
.submenudd A:hover{color:#ff6600; text-decoration:none}

.submenuddon {background-image:url("../images/leftmenu/leftmenu_bg_sub.png"); width:190px;  height:26px; color:#ff6600; font-family:돋움, Arial, Helvetica, sans-serif; padding:0px 0px 0px 10px;}
.submenuddon A:link {color:#ff6600; text-decoration:none} 
.submenuddon A:visited {color:#ff6600; text-decoration:none} 
.submenuddon A:hover{color:#ff6600; text-decoration:none} 

/* data, grid, tree */

.data_table{margin:0; background:#ffffff;float:left; width:880px; height:500px;  margin:10px 0px 0px 10px;}
.data_table1{margin:0; background:#dfdfdf;float:left; width:430px; height:200px;  margin:10px 0px 0px 10px;}
.data_table2{margin:0; background:#dfdfdf;float:left; width:440px; height:180px;  margin:0px 10px 0px 0px;}
.data_table3{margin:0; background:#dfdfdf;float:left; width:430px; height:154px;  margin:0px 0px 0px 0px;}
.data_table4{margin:0; background:#dfdfdf;float:left; width:410px; height:500px;  margin:0px 10px 0px 0px;}
.data_table5{margin:0; background:#dfdfdf;float:left; width:560px; height:500px;  margin:0px 0px 0px 0px;}
.data_table6{margin:0; background:#dfdfdf;float:left; width:670px; height:500px;  margin:0px 0px 0px 0px;}
.data_table7{margin:0; background:#dfdfdf;float:left; width:600px; height:500px;  margin:0px 0px 0px 0px;}

.data_tree1{margin:0; background:#dfdfdf;float:left; width:287px; height:150px;float:left;}
.data_tree2{margin:0; background:#dfdfdf;float:left; width:440px; height:150px;float:left;}
.data_tree3{margin:0; background:#dfdfdf;float:left; width:260px; height:550px;float:left;}


.grid_bgcolor{background:#eeeeee; font-family:돋움, Arial, Helvetica, sans-serif; width:140px; height:25px; text-align:center;}
.grid_bgcolor1 {background:#ccddf1; font-family:돋움, Arial, Helvetica, sans-serif; width:140px; height:25px; text-align:center;}
.grid_bgcolor2 {background:#ddf7f8; font-family:돋움, Arial, Helvetica, sans-serif; width:140px; height:25px; text-align:center;}
.grid_bgcolor3 {background:#e3e8eb; font-family:돋움, Arial, Helvetica, sans-serif; height:25px; text-align:center;}

.grid_line {width:880px; padding:5px; color:#333; border:1px solid #cccccc;}
.grid_line1 {width:430px; padding:5px; color:#333; border:1px solid #cccccc;}
.grid_line2 {width:460px; height:500px; padding:5px; color:#333; border:1px solid #cccccc;}
.grid_line3 {width:300px; height:500px; padding:5px; color:#333; border:1px solid #cccccc;}
.grid_line4 {width:200px; height:500px; padding:5px; color:#333; border:1px solid #cccccc;  margin:0px 10px 0px 0px;}
.grid_line5 {width:880px; height:500px; padding:5px; color:#333; border:1px solid #cccccc;  margin:10px 0px 0px 0px; text-align:left;}
.grid_line6 {width:300px; height:250px; padding:5px; color:#333; border:1px solid #cccccc; margin:3px 3px 3px 3px;}


.padding_left {padding:0px 0px 0px 10px;}
.padding_left5 {padding:0px 0px 0px 5px;}
.padding_leftbottom {padding:0px 0px 10px 10px;}
.padding_right {padding:0px 10px 0px 0;}
.padding_righttop {padding:10px 10px 0px 0;}
.padding_bottom {padding:0px 0px 10px 0px;}
.padding_bottom1 {padding:0px 0px 5px 0px;}
.padding_top {padding:10px 0px 0px 0;}
.padding_top30 {padding:30px 0px 0px 0;}

.hr1 
{
background-color:#cccccc;
color:#cccccc;
height:1px;
border:0px;
width:430px;
clear:both;
}


.hr2
{
background-color:#cccccc;
color:#cccccc;
height:1px;
border:0px;
width:600px;
clear:both;
}

img {border:0px}

/* BUTTON STYLES: */		
 .btn1 {	 
	 width:90px;
	 height:26ppx;
	 padding:0px 0px 0px 0;
	 margin-top:0px;
	 border-radius:3px;
	 color:#333;
	 background-image:url(../images/button/btn_analysis.png);
	 backkground-repeat:repeat-x;
	 background-position:center center;
	 font-size: 9pt;	
	 
 }
 .btn1 A:link {
	 width:90px;
	 height:26ppx;
	 padding:0px 0px 0px 0;
	 margin-top:0px;
	 border-radius:3px
	 color:#fff;
	 background-image:url(../images/button/btn_analysis_on.png);
	 backkground-repeat:repeat-x;
	 background-position:center center;} 
 .btn1 A:visited {
	 width:90px;
	 height:26ppx;
	 padding:0px 0px 0px 0;
	 margin-top:0px;
	 border-radius:3px
	 color:#fff;
	 background-image:url(../images/button/btn_analysis_on.png);
	 backkground-repeat:repeat-x;
	 background-position:center center;} 
 .btn1 A:hover{
	 width:90px;
	 height:26ppx;
	 padding:0px 0px 0px 0;
	 margin-top:0px;
	 border-radius:3px
	 color:#fff;
	 background-image:url(../images/button/btn_analysis_on.png);
	 backkground-repeat:repeat-x;
	 background-position:center center;} 


.btns {	 
	 width:90px;
	 height:26ppx;
	 padding:0px 0px 0px 0;
	 margin-top:0px;
	 border-radius:3px;
	 color:#333;
	 background-image:url(../images/button/btn_analysis.png);
	 backkground-repeat:repeat-x;
	 background-position:center center;
	 font-size: 9pt;	
	 
 }
 .btns A:link {
	 width:90px;
	 height:26ppx;
	 padding:0px 0px 0px 0;
	 margin-top:0px;
	 border-radius:3px
	 color:#fff;
	 background-image:url(../images/button/btn_analysis_on.png);
	 backkground-repeat:repeat-x;
	 background-position:center center;} 
 .btns A:visited {
	 width:90px;
	 height:26ppx;
	 padding:0px 0px 0px 0;
	 margin-top:0px;
	 border-radius:3px
	 color:#fff;
	 background-image:url(../images/button/btn_analysis_on.png);
	 backkground-repeat:repeat-x;
	 background-position:center center;} 
 .btns A:hover{
	 width:90px;
	 height:26ppx;
	 padding:0px 0px 0px 0;
	 margin-top:0px;
	 border-radius:3px
	 color:#fff;
	 background-image:url(../images/button/btn_analysis_on.png);
	 backkground-repeat:repeat-x;
	 background-position:center center;} 

/***************************/
/*       통합설정          */
/***************************/
.config_left_140 {
	width:130px;
	padding-right:10px;
	text-align:right;
	overflow: auto;
}
.config_left_340 {
	width:330px;
	padding-right:10px;
	text-align:left;
	overflow: auto;
}
.config_center_150 {
	width:140px;
	padding-right:10px;
	text-align:center;
	overflow: auto;
}
.config_center_300 {
	width:290px;
	padding-right:10px;
	text-align:left;
	overflow:auto;
}
.config_right_440 {
	width:440px;
	overflow:auto;
}
.config_right_390 {
	width:390px;
	float:left;
	overflow:auto;
}
.config_right_540 {
	width:540px;
	overflow: auto;
}
.config_tree {
	margin:0;
	padding-top: 5px;
	padding-bottom: 5px;
	width:330px;
	height:450px;
	float:left;
	overflow: auto;
}
.config_tree_1 {
	margin:0;
	padding:4px !important;
	width: 316px;
	height: 425px;
	overflow: auto;
}
.config_grid {
	margin:0;
	width:330px;
	float:left;
	overflow: auto;
}
.config_select {
	width:100%;
	height:460px;
	margin-bottom: 10px;
	overflow: auto;
}
.config_hr_440 {
	background-color:#cccccc;
	color:#cccccc;
	height:1px;
	border:0px;
	width:420px;
	clear:both;
}
.config_hr_540 {
	background-color:#cccccc;
	color:#cccccc;
	height:1px;
	border:0px;
	width:520px;
	clear:both;
}
.config_grid_line_1 {
	padding:5px;
	color:#333;
	border:1px solid #cccccc;
}
.config_grid_line_2 {
	padding:5px;
	color:#333;
	border:1px solid #cccccc;
}
.config_h3 {
	margin:0;
	padding:10;
}
.config_value_title {
	text-align: left; 
	margin-top: 5px;
	margin-bottom: 5px;
	padding: .4em;
	width: 390px;
}
.config_value_title_modify {
	text-align: left; 
	margin-top: 5px;
	margin-bottom: 5px;
	padding: .4em;
	width: 290px;
}
.config_value_label {
	width: 400px;
	text-align: left;
	margin-top: 2px;
	margin-bottom: 2px;
}
.config_value_modify_label {
 	width: 300px; 
	text-align: left;
	margin-top: 2px;
	margin-bottom: 2px;
}
.config_value4 {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
.config_value4_label {
	width: 40px;
	padding: 0 !important;
}
.config_value4_modify_label {
	width: 31px;
	padding: 0 !important;
}
.config_value4_label span {
	padding: 3px !important;
}
.config_value4_modify_label span {
	padding: 3px !important;
}
.config_value4 p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	text-align: center;
}
.config_value_note {
	width: 400px;
	height: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: left;
}
.config_value_note_modify {
	width: 290px;
	height: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: left;
}

/***************************/
/*       통합로그          */
/***************************/
.prism_left_420 {
	width:410px;
	padding-right:10px;
	text-align:left;
	overflow: auto;
}
.prism_grid_line1 {
	width: 458px;
	padding: 5px;
	color: #333;
	border: 1px solid #cccccc;
}
.prism_tree_1 {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #ffffff;
	float: left;
	width: 287px;
	height: 150px;
	float: left;
	overflow: auto;
}
.prism_tree_2 {
	margin: 0;
	margin-bottom: 10px;
	background: #ffffff;
	float: left;
	width: 395px;
	height: 200px;
	float: left;
	overflow: auto;
}
.prism_input_date {
	width: 110px;
	text-align: center;
}
.prism_table_1 {
	background: #dfdfdf;
	float: left;
	width: 880px;
}

/***************************/
/*  통합로그-분석모니터링  */
/***************************/
.ui-selectable-helper { display: none; }

.prism_analysis_monitoring_grid_line {
	width:200px;
	height:500px;
	padding:0px;
	color:#333;
	border:1px solid #cccccc; 
	margin:0px 10px 0px 0px;
	overflow-y:auto;
}

.prism_analysis_monitoring_grid_line #monitor_group_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.prism_analysis_monitoring_grid_line .ui-selecting { 
	background: #b2e1ff;
}

.prism_analysis_monitoring_grid_line .ui-selected { 
	background: #7fceff;
}

.prism_analysis_monitoring_grid_line #monitor_group_list li {
	margin: 3px;
	padding: 0.4em;
	height: 18px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	cursor: pointer;
}
.prism_analysis_monitoring_grid_line #monitor_group_list li:hover {
	background: #b2e1ff;
}

.prism_analysis_monitoring_grid_line #monitor_group_list .ui-selected:hover {
	background: #7fceff;
}

.prism_analysis_monitoring_data_table {
	margin:0;
	float:left;
	width:670px;
	height:500px;
	margin:0px 0px 0px 0px;
}

/***************************/
/*    grow 메시지 박스     */
/***************************/

div.growlUI { background: url(../images/growcheck.png) no-repeat 10px 0px }
div.growlUI h1, div.growlUI h2 { color: white; padding: 5px 5px 5px 75px; text-align: left }
div.growlUI h2 { font-size: medium }